[Unit]
Description="Static arp config after reboot"

[Service]
Type=oneshot
ExecStart=/etc/scripts/add-my-static-arp

[Install]
WantedBy=network.target
